@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');
@import "tailwindcss";

/* General */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "National Park", sans-serif;
    font-weight: 600;
}

/* Custom */
.cont {
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
}

.box-padding {
    padding: 10px 25px;
}

.xs-box-padding {
    padding: 3px 6px;
}

.sm-box-padding {
    padding: 5px;
}

.sm-padding_1 {
    padding: 7px;
}

.sm-margin-bottom_1 {
    margin-bottom: 30px;
}

.right-padding_1 {
    padding-right: 30px;
}

/* Header */
/* Links */
.nav-link {
    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;

    &::before {
        content: "";
        height: 3px;
        background-color: black;
        position: absolute;
        right: 100%;
        bottom: 0;
        left: 0;
        transition: 0.3s ease-in-out;
    }

    &:hover::before {
        right: 0;
    }
}

.nav-link-active {
    position: relative;
    padding: 5px;

    &::before {
        content: "";
        height: 3px;
        background-color: black;
        position: absolute;
        right: 0;
        bottom: 0;
        transition: 0.2s ease-in-out;
    }
}

.menu-btn {
    display: none;
}


.aside-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    background-color: transparent;
    padding: 3px 5px;
    border-radius: 5px;
    transition: background-color .2s ease-in-out;
}

.aside-link.active {
    background-color: #1447E6;
    color: white;
}

/* sing-in || sing-up forms */
/* inputs */
.input-block {
    margin-bottom: 10px;
}

.input-block,
.submit-btn {
    width: 100%;
    height: 35px;
}

.form-input {
    height: 100%;
    width: 100%;
    border: solid 2px black;
    padding: 3px 7px;
    outline: none;
    font-size: 16px;
    font-weight: 500;

    &::placeholder {
        font-size: 14px;
    }
}

.line {
    &::before {
        content: '';
        position: absolute;
        height: 2px;
        background-color: black;
        top: 54%;
        transform: translateY(-50%);
        width: 45%;
        left: 0;
    }
    &::after {
        content: '';
        position: absolute;
        height: 2px;
        background-color: black;
        top: 54%;
        transform: translateY(-50%);
        width: 45%;
        right: 0;
    }
}

.social-media ul li {
    position: relative;
    z-index: 1;
    border: solid 2px black;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.2s;

    &:hover {
        color: white;
    }

    &::before {
        content: '';
        position: absolute;
        background-color: black;
        top: 0;
        bottom: 0;
        left: 0;
        right: 100%;
        z-index: 0;
        transition: 0.2s;
    }

    &:hover::before {
        right: 0;
        z-index: 0;
    }

    * {
        position: relative;
        z-index: 1;
    }
}

/* Templates Component */
.templates-container {
    margin: 20px 0 0 0;
}

/* avatar */
.avatar {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: rgba(223, 222, 222, .5);
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        height: 40px;
        width: 100px;
        bottom: 0;
        border-radius: 50%;
        background-color: black;
    }

    &::after {
        content: '';
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -80%);
        background-color: black;
    }
}

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
}

thead tr:nth-child(odd),
tbody tr:nth-child(even) {
    background-color: rgba(234, 234, 234, 0.3);
}

th, td  {
    border-top: 2px solid rgba(145, 145, 145, 0.3);
    padding: 2px;
}

tbody tr td:first-child {
    text-align: center;
}

th:not(th:last-child), 
td:not(td:last-child) {
    border-right: 2px solid rgba(145, 145, 145, 0.5);
}

/* Admin */
.admin-nav ul {
    display: flex;
    gap: 20px;
}

/* Media Queries */
@media screen and (max-width: 600px) {

    .nav-links {
        display: none;
    }

    .menu-btn {
        display: initial;
    }

    .box-padding {
        padding: 10px;
    }
}

@media screen and (max-width: 450px) {
    .admin-nav ul {
        justify-content: space-between;
    }
}